<div>
  <h2>Signup</h2>

  <%= form_tag do %>

      <%= email_field_tag("email", placeholder: 'Email Address')%><br />
      <%= password_field_tag("password", placeholder: 'Password')%><br/>
      <%= text_field_tag("first_name", placeholder: 'First Name')%><br/>
      <%= text_field_tag("last_name", placeholder: 'Last Name')%><br/>
      <%= text_field_tag("city", placeholder: 'City')%><br/>
      <%= select_tag("state", options_for_select(states))%><br/>
      <%= text_field_tag("zip", placeholder: 'Zip')%><br/>
      <%= text_area_tag("about", "Tell us about yourself", size: "25x10")%><br/>
      <%= label_tag("gender", "Male")%>
      <%= radio_button_tag("gender", "male")%><br/>
      <%= label_tag("gender", "Female")%>
      <%= radio_button_tag("gender", "female")%><br/>
      <%= date_field_tag("birthdate")%><br/>
      <%= text_field_tag("user_name", placeholder: "Desired Username")%><br/>
      <%= submit_tag("Sign Up")%>

  <% end %>


</div>